<template lang="pug">
  div.w-100
    section.py-5.my-5.container.grid-lg.d-flex.d-flex-centered.d-flex-col
      h1 Contact
      div.form-group.d-flex-d-flex-centered.d-flex-col.my-2(v-if="!messageSent")
        div._grid.py-2
          div._col.px-3
            label.form-label Name
            div.has-icon-right
              input.form-input(type="text"
                placeholder="e.g Jhon Doe"
                v-model="form.name.value"
                @click="clicked('name')"
                :class="[{'is-error': !checkName && form.name.clicked}, {'is-success': checkName}]")
              fa.form-icon(:icon="['fas', 'check']"
                v-if="checkName")
              p.form-input-hint(v-if="!checkName && form.name.clicked")
                | *Required. Name must be more than two characters.
          div._col.px-3
            label.form-label e-Mail
            div.has-icon-right
              input.form-input(type="text"
                placeholder="e.g jhon@example.com"
                v-model="form.email.value"
                @click="clicked('email')"
                :class="[{'is-error': !checkEmail && form.email.clicked}, {'is-success': checkEmail}]")
              fa.form-icon(:icon="['fas', 'check']"
                v-if="checkEmail")
              p.form-input-hint(v-if="!checkEmail && form.email.clicked")
                | *Required. Please enter a valid email address.
        div._grid.py-2
          div._col.px-3
            label.form-label Subject
            div.has-icon-right
              input.form-input(type="text"
                placeholder="Message subject"
                v-model="form.subject.value"
                @click="clicked('subject')"
                :class="[{'is-error': !checkSubject && form.subject.clicked}, {'is-success': checkSubject}]")
              fa.form-icon(:icon="['fas', 'check']"
                v-if="checkSubject")
              p.form-input-hint(v-if="!checkSubject && form.subject.clicked")
                | *Required. Subject must be more than two characters.
        div._grid.py-2
          div._col.px-3
            label.form-label Message
            textarea.form-input(rows="6"
              placeholder="Write your message here..."
              v-model="form.message.value"
              @click="clicked('message')"
              :class="[{'is-error': !checkMessage && form.message.clicked}, {'is-success': checkMessage}]")
            p.form-input-hint(v-if="!checkMessage && form.message.clicked")
              | *Required. Message must be more than ten characters.
        div._grid.py-2
          div._col.px-3.d-flex.d-flex-middle.d-flex-right.mt-2
            button.btn.btn-error.mr-2(@click="reset()") Reset
            button.btn.btn-success(:disabled="!formValid"
              @click="send()") Send
      div.empty.my-2(v-if="messageSent")
        div.empty-icon
          fa.icon(:icon="['far', 'envelope']")
        p.empty-title.h5 Message sent sucessfully!
        p.empty-subtitle Thank your for your message. I will reply as soon as possible.
</template>

<script>
import {sendMail} from '@/assets/js/mailMan'
var validator = require("email-validator");

export default {
  data () {
    return {
      form: {
        name: {
          value: '',
          clicked: false
        },
        email: {
          value: '',
          clicked: false
        },
        subject: {
          value: '',
          clicked: false
        },
        message: {
          value: '',
          clicked: false
        }
      },
      messageSent: false
    }
  },
  methods: {
    clicked (fieldName) {
      this.form[fieldName].clicked = true;
    },
    reset () {
      for (var field in this.form) {
        this.form[field].value = ''
        this.form[field].clicked = false
      }
    },
    send () {
      sendMail(this.form, process.env.mooveAPIkey)
      this.reset()
      this.messageSent = true
      window.scrollTo(0, 0)
    }
  },
  computed: {
    formValid () {
      return this.checkName && this.checkEmail && this.checkSubject && this.checkMessage
    },
    checkName () {
      if (this.form.name.value.length >= 2) {
        return true
      } else {
        return false
      }
    },
    checkEmail () {
      return validator.validate(this.form.email.value)
    },
    checkSubject () {
      if (this.form.subject.value.length >= 2) {
        return true
      } else {
        return false
      }
    },
    checkMessage () {
      if (this.form.message.value.length >= 10) {
        return true
      } else {
        return false
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  label {
    font-family: Audiowide;
    font-size: 0.9rem;
    color: $moove-orange;
  }
  textarea {
    resize: none;
  }
  .btn {
    width: 4rem;
    font-family: Roboto;
  }
  .form {
    &-icon {
      color: lightgrey;
    }
    &-input-hint {
      font-family: Roboto;
      font-size: 0.5rem;
    }
  }
  .icon {
    font-size: 3rem;
    color: $moove-orange;
  }
  .empty {
    @include cardborder();
  }
  * {
    border-radius: 0px;
  }

  @media only screen and (max-width: $xs) {
    .form-group {
      width: 100%;
    }
  }

</style>
