<template lang="pug">
  div.w-100
    section.py-5
      article.container.grid-lg.d-flex.d-flex-centered.d-flex-col.my-5.px-5
        h1 {{ articles[0].heading }}
        p.page-text {{ articles[0].text }}
    section.d-flex.d-flex-centered.pt-5.pb-2
      ul.container.grid-lg.d-flex.d-flex-centered
        li.d-flex.d-flex-centered.h-auto.w-auto.mt-0.m-5.py-3(v-for="service in services")
          v-card(:data="service")
    section.pt-2.pb-5.d-flex.d-flex-centered
      article.container.grid-lg.d-flex.d-flex-centered.d-flex-col.my-5.px-5.py-5
        h2 {{ articles[1].heading }}
        p.page-text {{ articles[1].text }}
</template>

<script>
import Card from '@/components/Pages/Services/Card.vue'

export default {
  components: {
    'v-card': Card
  },
  data () {
    return {
      articles: [
        {
          heading: 'What I do',
          text: `I build websites using a modern lightweight, JavaScript
          framework (Vue.js) and every website that I build is created to the
          customer's exact requirements in terms of functionality and budget.
          In addition to building websites, I also offer SEO services where I
          optimize websites to be easily discoverable by webcrawlers, which are
          used by search engines such as Google and Bing, to find and index
          websites. If SEO has been done on a website, the site will rank
          higher with search engines and it will be easier for users to find
          your website when searching on a search engine.`
        },
        {
          heading: 'What I do differently',
          text: `All the websites that I build are responsive (display properly
          on mobile, tablet and desktop) and include SSL Certificates by
          default. Having a website that is both responsive and secure is very
          important for modern websites. I build fully custom website solutions
          as opposed to using public templates.`
        }
      ],
      services: [
        {
          title: 'Web design',
          text: `Full-stack (frontend & backend) web design. I specialize in
          building fast loading websites, using modern JavaScript frameworks
          (Vue.js and Nuxt.js) for flexibility and ease of maintenance.`,
          picture: '/cards/website.png',
          icon: ['fas', 'globe']
        },
        {
          title: 'SSL Cetrificates',
          text: `Setup of a SSL certificate to enable an encrypted connection
          from the browser to the server and display a green lock icon in the
          user's browser indicating a "Secure connection".`,
          picture: '/cards/security.png',
          icon: ['fas', 'lock']
        },
        {
          title: 'Domain registration',
          text: `Registration of custom domain names (www.yourcompany.com) &
          setup of email addresses with a reputable hosting provider.`,
          picture: '/cards/domain.png',
          icon: ['fas', 'home']
        },
        {
          title: 'Web hosting',
          text: `I run a private Linux cloud server provided by www.vultr.com.
          This allows me to be able to provide very cost-effective hosting
          services for the full-stack web applications that I build.`,
          picture: '/cards/hosting.png',
          icon: ['fas', 'server']
        },
        {
          title: 'CDN Setup',
          text: `Configure website to be delivered via a Content Delivery
          Network, which will reduce the time it takes for the site to load.
          This service includes DDoS attack protection.`,
          picture: '/cards/cdn.png',
          icon: ['fas', 'cloud-upload-alt']
        },
        {
          title: 'SEO Services',
          text: `Search Engine Optimization to ensure that a website will
          be easily mapped out by webcrawlers and rank higher in popular search
          engines such as Google.`,
          picture: '/cards/seo.png',
          icon: ['fas', 'search']
        },
        {
          title: 'Google Firebase',
          text: `For projects that require advanced functionality, I create
          websites that interact and make use of Google's Firebase BaaS -
          Backend as a Service.`,
          picture: '/cards/cloud.png',
          icon: ['fas', 'database']
        },
        {
          title: 'CMS Integration',
          text: `I am able to integrate a simple CMS
          (Content Management System) into websites that require regular
          content updates. This allows website owners to add/remove content
          to/from a website without the involvement of myself or another
          developer.`,
          picture: '/cards/cms.png',
          icon: ['fas', 'desktop']
        },
        {
          title: 'Site maintenance',
          text: `Routine website mainenance & updates to websites that I've
          created. The cost of doing updates will vary depending on the updates
          that are needed.`,
          picture: '/cards/maintenance.png',
          icon: ['fas', 'wrench']
        },
        {
          title: 'Vector logo\'s',
          text: `I am able to convert existing company or other logo\'s from
          picture to vector (*.svg) format. This allows the logo to be
          infinately scallable without loss of resolution.`,
          picture: '/cards/vector.png',
          icon: ['fas', 'exchange-alt']
        }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
  ul {
    flex-wrap: wrap;
    margin: 0px;
  }
</style>
