// Flexbox utility

.d-flex {
  display: flex;
  &-left {
    justify-content: flex-start;
  }
  &-center {
    justify-content: center;
    &ed {
      justify-content: center;
      align-items: center;
    }
  }
  &-right {
    justify-content: flex-end;
  }
  &-between {
    justify-content: space-between;
  }
  &-around {
    justify-content: space-around;
  }
  &-top {
    align-items: flex-start;
  }
  &-middle {
    align-items: center;
  }
  &-bottom {
    align-items: flex-end;
  }
  &-baseline {
    align-items: baseline;
  }
  &-col {
    flex-direction: column;
  }
  &-row {
    flex-direction: row;
  }
}
