// Set width
.w {
  &-25 {
    width: 25%;
  }
  &-33 {
    width: 33%;
  }
  &-50 {
    width: 50%;
  }
  &-75 {
    width: 75%;
  }
  &-100 {
    width: 100%;
  }
  &-auto {
    width: auto;
  }
}

// Set height
.h {
  &-25 {
    height: 25%;
  }
  &-33 {
    height: 33%;
  }
  &-50 {
    height: 50%;
  }
  &-75 {
    height: 75%;
  }
  &-100 {
    height: 100%;
  }
  &-auto {
    height: auto;
  }
}
