// Variables
$spacer: 4px;
$range: 5;

// Margin
.m {
  @for $i from 0 through $range {
    &-#{$i} { margin: $spacer * $i; }
  }
  &t- {
    @for $i from 0 through $range {
      &#{$i} { margin-top: $spacer * $i; }
    }
  }
  &b- {
    @for $i from 0 through $range {
      &#{$i} { margin-bottom: $spacer * $i; }
    }
  }
  &l- {
    @for $i from 0 through $range {
      &#{$i} { margin-left: $spacer * $i; }
    }
  }
  &r- {
    @for $i from 0 through $range {
      &#{$i} { margin-right: $spacer * $i; }
    }
  }
  &x- {
    @for $i from 0 through $range {
      &#{$i} {
         margin-left: $spacer * $i;
         margin-right: $spacer * $i;
      }
    }
  }
  &y- {
    @for $i from 0 through $range {
      &#{$i} {
         margin-top: $spacer * $i;
         margin-bottom: $spacer * $i;
      }
    }
  }
}


// Padding
.p {
  @for $i from 0 through $range {
    &-#{$i} { padding: $spacer * $i; }
  }
  &t- {
    @for $i from 0 through $range {
      &#{$i} { padding-top: $spacer * $i; }
    }
  }
  &b- {
    @for $i from 0 through $range {
      &#{$i} { padding-bottom: $spacer * $i; }
    }
  }
  &l- {
    @for $i from 0 through $range {
      &#{$i} { padding-left: $spacer * $i; }
    }
  }
  &r- {
    @for $i from 0 through $range {
      &#{$i} { padding-right: $spacer * $i; }
    }
  }
  &x- {
    @for $i from 0 through $range {
      &#{$i} {
         padding-left: $spacer * $i;
         padding-right: $spacer * $i;
      }
    }
  }
  &y- {
    @for $i from 0 through $range {
      &#{$i} {
         padding-top: $spacer * $i;
         padding-bottom: $spacer * $i;
      }
    }
  }
}
