@import "./variables/_colours.scss";
@import "./variables/_components.scss";
@import "./variables/_breakpoints.scss";

@import "./utilities/fonts.scss";
@import "./utilities/mixins.scss";
@import "./utilities/flex.scss";
@import "./utilities/size.scss";
@import "./utilities/spacing.scss";

@import "./layout/grid.scss";


$factor: 1.7rem;

h1 {
  font-family: Pacifico;
  font-size: $factor;
  color: $moove-blue;
  margin: 0px 0px 16px 0px;
}

h2 {
  font-family: Pacifico;
  font-size: $factor;
  color: $moove-orange;
  margin: 0px 0px 16px 0px;
}

h3 {
  font-family: Audiowide;
  font-size: 0.8rem;
  color: $moove-orange;
  margin: 0px;
}

.page-text {
  font-family: Roboto;
  font-size: $factor/2;
  color: $moove-grey;
  margin-bottom: 0px;
}



@media only screen and (max-width: $xs) {
  h1, h2 {
    font-size: $factor*0.8;
  }
  .page-text {
    font-size: $factor/2.4;
  }
}
