<template lang="pug">
  div.card.p-0.m-0
    div.d-flex.d-flex-center.d-flex-top.w-auto.image-box
      img.image(:src="data.picture"
        :alt="data.title")
    div.card-header
      div.card-title.d-flex.d-flex-middle.d-flex-row.d-flex-between
        h3 {{ data.title }}
        fa.icon(:icon="data.icon")
    div.card-body {{ data.text }}
</template>

<script>
export default {
  props: ['data']
}
</script>

<style lang="scss" scoped>
  .card {
    width: 250px;
    height: 380px;
    @include cardborder();
    &-body {
      font-family: Roboto;
      font-size: 0.65rem;
      color: $moove-grey;
    }
  }
  .image {
    width: 250px;
    &-box {
      height: 168px;
      width: 250px;
    }
  }
  .icon {
    color: $moove-blue;
    font-size: 1.1rem;
  }
</style>
