<template lang="pug">
  transition(name="dropdown-transition"
    enter-active-class="animated fadeInRight"
    leave-active-class="animated fadeOutRight")
    ul.d-flex.d-flex-col.px-0.m-0.py-1.w-auto.h-auto(@click="toggleMenu()")
      nuxt-link.d-flex.d-flex-middle.d-flex-right.w-100.h-100.container.my-1.py-1.px-5(v-for="item in menu"
        :to="item.link"
        tag="li"
        :class="{active: (item.link == currentPage)}")
        span {{ item.title.toUpperCase() }}
</template>

<script>
export default {
  methods: {
    toggleMenu () {
      this.$store.dispatch('burgerClicked', !this.isActive)
    }
  },
  computed: {
    menu () {
      return this.$store.getters.getNavMenu
    },
    currentPage () {
      return this.$route.path
    },
    isActive () {
      return this.$store.getters.getBurgerState
    }
  }
}
</script>

<style lang="scss" scoped>
  ul {
    list-style: none;
    background: rgba(238, 238, 238, 0.8);
    position: absolute;
    top: 70;
    right: 0;
    z-index: 900;
    li {
      cursor: pointer;
      color: $moove-grey;
      font-family: Audiowide;
      font-size: 0.8rem;
      span {
        @include noselect();
      }
    }
  }

  .active {
    color: $moove-orange;
  }

</style>
