<template lang="pug">
  div.positioner
    div.hamburger.hamburger--squeeze.p-0(:class="{ 'is-active': isActive }"
      @click="toggleMenu()")
      div.hamburger-box
        span.hamburger-inner
</template>

<script>
export default {
  methods: {
    toggleMenu () {
      this.$store.dispatch('burgerClicked', !this.isActive)
    }
  },
  computed: {
    isActive () {
      return this.$store.getters.getBurgerState
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "@/assets/sass/hamburgers/hamburgers.scss";

  .test {
    background-color: blue
  }
  .positioner {
    padding-top: 6px;
  }
</style>
