<template lang="pug">
  div.d-flex.d-flex-centered.h-100
    nuxt-link.d-flex.d-flex-centered.h-100(to="/" tag="a")
      img.image(:src="src")
</template>

<script>
export default {
  props: ['src']
}
</script>

<style lang="scss" scoped>
  img {
    height: 40px;
    cursor: pointer;
  }
</style>
