<template lang="pug">
  ul.d-flex.d-flex-middle.d-flex-right.w-auto.p-0.m-0.h-100
    nuxt-link.mt-0.d-flex.d-flex-centered.h-100.px-4(v-for="item in menu"
      :to="item.link"
      tag="li"
      :class="{ active: (item.link == currentPage) }")
      span.d-flex.d-flex-centered {{ item.title.toUpperCase() }}
</template>

<script>
export default {
  computed: {
    menu () {
      return this.$store.getters.getNavMenu
    },
    currentPage () {
      return this.$route.path
    }
  }
}
</script>

<style lang="scss" scoped>
  ul {
    list-style: none;
    li {
      cursor: pointer;
      font-family: Audiowide;
      font-size: 0.65rem;
      color: $moove-grey;
      &:hover {
        color: $moove-blue;
      }
      span {
        @include noselect();
        line-height: 0.65rem;
      }
    }
  }

  .active {
    color: $moove-orange !important;
  }

</style>
