// mooveFWD Colours
$moove-orange:  #FF6600;
$moove-blue:    #3399FF;
$moove-grey:    #333333;

$moove-smoke-90:   rgba(247, 247, 247, 0.9);
$moove-smoke-80:   rgba(247, 247, 247, 0.8);
$moove-smoke-60:   rgba(247, 247, 247, 0.6);
$moove-smoke-40:   rgba(247, 247, 247, 0.4);

$moove-overlay: rgba(51, 51, 51, 0.55);
