<template lang="pug">
  a.icon-box.d-flex.d-flex-centered(:href="data.url"
    target="blank")
    fa.icon(:icon="data.icon")
</template>

<script>
export default {
  props: ['data']
}
</script>

<style lang="scss" scoped>
$iconWidth: 1.8rem;

  .icon {
    font-size: $iconWidth/2.3;
    color: $moove-blue;
    &-box {
      display: flex;
      align-items: center;
      justify-content: center;
      height: $iconWidth;
      width: $iconWidth;
      border-radius: $iconWidth/2;
      background: $moove-smoke-60;
      cursor: pointer;
      &:hover {
        .icon {
          color: $moove-orange;
        }
      }
    }
  }
</style>
