<template lang="pug">
  ul.d-flex.d-flex-centered.m-0
    nuxt-link.mt-0.p-2.mx-3.d-flex.d-flex-centered(v-for="item in menu"
      :to="item.link"
      tag='li')
      span {{ item.title.charAt(0).toUpperCase() + item.title.slice(1) }}
</template>

<script>
export default {
  computed: {
    menu () {
      return this.$store.getters.getNavMenu
    }
  }
}
</script>

<style lang="scss" scoped>
  ul {
    list-style: none;
    color: $moove-smoke-80;
    font-family: Pacifico;
    font-size: 1rem;
    li {
      cursor: pointer;
      &:hover {
        color: $moove-orange;
      }
      span {
        @include noselect();
      }
    }
  }
  .test {
    background: lightyellow;
    height: 300px;
  }

  @media only screen and (max-width: $xs) {
    ul {
      flex-direction: column;
      font-size: 1.2rem;
      li {
        width: 100%
      }
    }
  }
</style>
