<template lang="pug">
  ul.d-flex.d-flex-centered.m-0
    li.mt-0.mx-3(v-for="item in socialMenu")
      v-social-icon(:data="item").p-2
</template>

<script>
import Icon from './Icon.vue'

export default {
  components: {
    'v-social-icon': Icon
  },
  computed:{
    socialMenu () {
      return this.$store.getters.getSocialMenu
    }
  }
}
</script>

<style lang="scss" scoped>
  ul {
    list-style: none;
  }
</style>
