<template lang="pug">
  nav
    header.navbar.container.grid-lg.h-100
        section.navbar-section
          v-logo.navbar-brand(src="/brand/logo.png")
        section.navbar-section
          v-menu.hide-md
          v-burger.show-md
    v-dropdown(v-if="mobileMenuActive")
</template>

<script>
import Menu from './src/Menu.vue'
import Logo from './src/Logo.vue'
import Hamburger from './src/Hamburger.vue'
import Dropdown from './src/Dropdown.vue'

export default {
  components: {
    'v-menu': Menu,
    'v-logo': Logo,
    'v-burger': Hamburger,
    'v-dropdown': Dropdown
  },
  computed: {
    mobileMenuActive () {
      return this.$store.getters.getBurgerState
    }
  }
}
</script>

<style lang="scss" scoped>
  nav {
    background: white;
    height: $navbar-height;
    z-index: 1000;
    //border-bottom: 2px solid $moove-smoke-80;
    position: fixed;
    top: 0;
    width: 100%;

    -webkit-box-shadow: 0 5px 5px -3px #999999;
    -moz-box-shadow: 0 5px 5px -3px #999999;
    box-shadow: 0 5px 5px -3px #999999;

  }
  .test {
    background: lightyellow;
  }
</style>
