<template lang="pug">
  div.screen-overlay
    div.sk-cube-grid
      div.sk-cube.sk-cube1
      div.sk-cube.sk-cube2
      div.sk-cube.sk-cube3
      div.sk-cube.sk-cube4
      div.sk-cube.sk-cube5
      div.sk-cube.sk-cube6
      div.sk-cube.sk-cube7
      div.sk-cube.sk-cube8
      div.sk-cube.sk-cube9
</template>

<script>
</script>

<style lang="scss" scoped>
@import "@/assets/sass/spinners/spinkit.scss";
.screen-overlay {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  z-index: 2000;

  display: flex;
  justify-content: center;
  align-items: center;
}
.test {
  width: 25px;
  height: 25px;
  background: $moove-blue
}
</style>
