<template lang="pug">
  div.w-100
    section.py-5
      article.container.grid-lg.d-flex.d-flex-centered.d-flex-col.my-5.px-5
        h1 {{ articles[0].heading }}
        p.page-text {{ articles[0].text }}
    section.py-5.d-flex.d-flex-centered
      ul.d-flex.d-flex-centered.d-flex-col.m-0
        li.mt-0.d-flex.d-flex-centered.mb-5.pb-5(v-for="website in websites")
          v-card(:data="website")
</template>

<script>
import Card from '@/components/Pages/Portfolio/Card.vue'

export default {
  components: {
    'v-card': Card
  },
  data () {
    return {
      articles: [
        {
          heading: 'Portfolio',
          text: `Below is a list of some recent websites that I built using
          Vue.js and Nuxt.js, which allows for the creation of fast-loading
          static websites, rendered on the client side.`
        }
      ],
      websites: [
        {
          org: 'Scottish Bilingual Nursery & Primary School',
          country: 'cameroon',
          text: `SBNPS Is a small school located in Mutengene, Cameroon. The
          school has around 160 students enrolled and was started by the Scott
          family. The dual language (English/French) website was created to
          raise awareness about the school internationally and hopefully lead
          to gaining some donations to help with the various projects that are
          planned for the school.`,
          url: "https://www.sbnps-mutengene.com"
        }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
  ul {
    list-style: none;
  }
</style>
