<template lang="pug">
  div.box
    div.overlay
      div.container.grid-lg.d-flex.d-flex-centered.h-100
        slot
</template>

<script>
</script>

<style lang="scss" scoped>
  .box {
    background-image: url("/pictures/about.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
  }
  .overlay {
    background: $moove-overlay;
    height: 450px;
  }

  @media only screen and (max-width: $md) {
    .overlay {
      height: 300px;
    }
  }
</style>
