<template lang="pug">
  div.d-flex.d-flex-centered.d-flex-col.px-4
    div.one Hello,
    ul.d-flex.d-flex-center.d-flex-baseline.d-flex-row.ml-0
      li.mb-0.two.h-100.mt-0 I build
      li.mx-5.three.mt-0 {{ greetings[index] }}
      li.four.h-100.mt-0 websites
</template>

<script>
export default {
  data () {
    return {
      greetings: [
        'fast loading',
        'responsive',
        'ssl secured',
        'modern',
        'dynamic'
      ],
      index: 0
    }
  },
  created() {
    this.index = Math.floor(Math.random()*5)
  }
}
</script>

<style lang="scss" scoped>
$text:  3rem;

  ul {
    list-style: none;
    height: auto;
    li {
      height: 100%;
    }
  }
  .one {
    font-family: Pacifico;
    font-size: $text;
    color: $moove-smoke-90;
  }
  .two, .four {
    font-family: Pacifico;
    font-size: $text/1.5;
    color: $moove-smoke-80;
  }
  .three {
    font-family: Audiowide;
    font-size: $text*1.1;
    color: $moove-orange;
    text-shadow: 0px 0px 6px $moove-smoke-60
  }

  @media only screen and (max-width: $md) {
    .one {
      font-size: $text*0.7;
    }
    .two {
      width: 100%;
      text-align:  left;
      font-size: ($text/1.5)*0.7;
    }
    .three {
      font-size: ($text*1.1)*0.7;
    }
    .four {
      width: 100%;
      text-align: right;
      font-size: ($text/1.5)*0.7;
    }
    ul {
      flex-direction: column;
      align-items: center;
    }
  }

  @media only screen and (max-width: $xs) {
    .one {
      font-size: $text*0.5;
    }
    .two {
      width: 100%;
      text-align:  left;
      font-size: ($text/1.5)*0.5;
    }
    .three {
      font-size: ($text*1.1)*0.5;
    }
    .four {
      width: 100%;
      text-align: right;
      font-size: ($text/1.5)*0.5;
    }
  }
</style>
