<template lang="pug">
  section.py-5
    div.container.grid-lg.py-5.d-flex.d-flex-centered.d-flex-col
      v-footer-menu.my-5.py-2
      v-footer-social.my-5.py-2
      div.d-flex.d-flex-centered.d-flex-col.contact.my-5
        p.mb-0 Currently based in Ho Chi Minh City, VIETNAM
        p.mb-0.my-1 84.164.240.5293
        nuxt-link.my-1(to="/contact"
          tag="a") @contact
      hr.w-100.my-5
      p.copyright.d-flex.d-flex-centered Copyright ©2018 Moove Full-stack Web Development. All rights reserved.
</template>

<script>
import Menu from './src/Menu.vue'
import Social from './src/Social.vue'

export default {
  components: {
    'v-footer-menu': Menu,
    'v-footer-social': Social
  }
}
</script>

<style lang="scss" scoped>
  section {
    background: $moove-blue;
    //height: 300px;
  }
  .contact {
    font-family: Roboto;
    p {
      font-size: 0.6rem;
      color: $moove-smoke-60;
      text-align: center;
    }
    a {
      font-size: 0.7rem;
      color: $moove-smoke-80;
      &:hover {
        color: $moove-orange;
      }
    }
  }
  .copyright {
    font-family: Roboto;
    font-size: 0.5rem;
    color: $moove-smoke-60;
    text-align: center;
  }
  hr {
    box-shadow: 0px 0px 4px $moove-smoke-40;
    background-color: $moove-smoke-40;
    height: 1px;
    border: 0;
  }
</style>
