<template lang="pug">
  div.d-flex.d-flex-centered.d-flex-row.project-card
    div.d-flex.d-flex-centered.project-image
      img(src="/screenshots/sbnps.png")
    div.d-flex.d-flex-centered.d-flex-col.px-4.project-content
      h3.text-center.mb-2 {{ data.org }}
      div.w-100.d-flex.d-flex-centered.d-flex-row.mb-2
        fa.project-card-icon.mr-2(icon="map-marker-alt")
        span.project-country {{ data.country.toUpperCase() }}
      p.mb-4.text-dark {{ data.text }}
      div.d-flex.d-flex-middle.d-flex-right.w-100
        a.d-flex.d-flex-centered.d-flex-row(:href="data.url"
          target="blank")
          fa.mr-1(icon="chevron-circle-right")
          span Visit site
</template>

<script>
export default {
  props: ['data']
}
</script>

<style lang="scss" scoped>
$card-height: 300px;

  .project {
    &-card {
      @include cardborder();
      height: $card-height;
      width: auto;
      &-icon {
        color: #dd4b39;
        font-size: 1.1rem;
      }
    }
    &-image {
      img {
        height: $card-height;
      }
    }
    &-content {
      width: 380px;
    }
    &-country {
      color: $moove-blue;
      font-family: Roboto;
      font-size: 0.8rem;
    }
  }
  p {
    font-family: Roboto;
    font-size: 0.7rem;
  }
  a {
    color: $moove-grey;
    font-size: 0.6rem;
    span {
      font-family: Roboto;
    }
    &:hover {
      color: $moove-blue;
    }
  }
  @media only screen and (max-width: $sm) {
    .project {
      &-card {
        flex-direction: column;
        width: 90%;
        max-width: 424px;
        height: auto;
      }
      &-image {
        margin-bottom: 16px;
        img {
          width: 100%;
          height: auto;
        }
      }
      &-content {
        width: 90%;
        p {
          text-align: center;
        }
        a {
          margin-bottom: 16px;
        }
      }
    }
  }
</style>
