<template lang="pug">
  div
    v-loader(v-if="loading")
    v-navbar(v-else)
    nuxt.content
    v-footer
</template>

<script>
import Navbar from '@/components/Navbar/Navbar.vue'
import Footer from '@/components/Footer/Footer.vue'
import Loader from '@/components/Loader.vue'

export default {
  components: {
    'v-navbar': Navbar,
    'v-footer': Footer,
    'v-loader': Loader
  },
  computed: {
    loading () {
      return this.$store.getters.getPageLoading
    }
  },
  created () {
    this.$store.dispatch('setPageLoading', true)
  },
  mounted () {
    this.$store.dispatch('setPageLoading', false)
  }
}
</script>

<style lang="scss">
  .content {
    padding-top: $navbar-height;
  }
</style>
