<template lang="pug">
  div.w-100
    section
      v-greeting-board
        v-greeting
    section.py-5
      div.container.grid-sm.h-auto.d-flex.d-flex-centered.d-flex-col.my-5
        h1 About me
        p.page-text {{ text }}
</template>

<script>
import Background from '@/components/Pages/Home/Background.vue'
import Greeting from '@/components/Pages/Home/Greeting.vue'

export default {
  components: {
    'v-greeting-board': Background,
    'v-greeting': Greeting
  },
  data () {
    return {
      text: `I am a freelance full-stack web developer and I help companies &
      individuals by creating modern websites to showcase their products and/or
      services. I build fully customized, API driven web applications tailored
      to my customers\' exact needs.`
    }
  }
}
</script>

<style lang="scss" scoped>
  p {
    text-align: center;
  }
</style>
