<template lang="pug">
div.w-100
  section.py-5
    article.container.grid-lg.d-flex.d-flex-centered.d-flex-col.my-5.px-5
      h1 Pricing
      ul.d-flex.d-flex-middle.d-flex-left.d-flex-col
        li.d-flex.d-flex-middle.d-flex-left.d-flex-row.mt-0.w-100
          span.mr-2.question Q
          p.page-text How much does a website cost?
        li.d-flex.d-flex-middle.d-flex-left.d-flex-row.mt-0.w-100
          span.mr-2.answer A
          p.page-text It depends...
      p.page-text.mb-5.pb-2 {{ p1 }}
      p.page-text.mb-5.pb-2 I do not have a "fixed pricing model" because each
        | customer/project has its own unique set of requirements. If you need
        | a website for your company, please feel free to
        nuxt-link.mx-1(to="/contact" tag="a" id="link") contact me
        | and tell me more about the project that you
        | have in mind and I will be happy to propose a solution that would
        | meet your requirements and fall within your budget.
      div.d-flex.d-flex-centered.d-flex-col.hide-md
        img.mt-5.mb-2(src="/pictures/misc/whatsappqr.svg")
        div.d-flex.d-flex-centered.d-flex-row
          span.whatsapp.mr-2 Scan with mobile phone or tablet to open chat in Whatsapp
          a(href="https://www.whatsapp.com/" target="blank")
            fa.whatsapp-logo(:icon="['fab', 'whatsapp']")
      div.d-flex.d-flex-centered.d-flex-col.show-md
        div.d-flex.d-flex-centered.mb-3
          a(:href="whatsapp" target="blank")
            fa.whatsapp-logo-big(:icon="['fab', 'whatsapp']")
        div.d-flex.d-flex-centered
          span.whatsapp Click logo to open chat in
            a.ml-1(href="https://www.whatsapp.com/") Whatsapp
</template>

<script>
export default {
  data () {
    return {
      p1: `The cost of developing a website is directly related to the amount
      compexity that is required. Simple, static websites require far less time
      to build than websites that require user login such as ecommerce or
      directory websites.`,
      p2: `I do not have a "fixed pricing model" because each customer/project
      has its own unique set of requirements. If you need a website for your
      company, please feel free to `,
      p3: ` and tell me more about the
      website that you have in mind and I will be happy to propose a solution
      that would meet your requirements and fall within your budget.`,
      whatsapp: process.env.whatsappApiUrl + process.env.whatsappApiKey
    }
  }
}
</script>

<style lang="scss" scoped>
  ul {
    list-style: none;
    margin: 10px 0px 20px 0px;
    min-width: 240px;
    li {
      span {
        font-family: Audiowide;
        font-size: 1.2rem;
      }
      p {
        font-style: italic;
      }
    }
  }
  .question {
    color: $moove-orange;
  }
  .answer {
    color: $moove-blue;
  }
  .whatsapp {
    font-family: Roboto;
    font-size: 0.6rem;
    font-style: italic;
    color: $moove-grey;
    a{
      color: $moove-blue;
    }
    &-logo {
      color: #25d366;
      font-size: 1.5rem;
      &-big {
        color: #25d366;
        font-size: 3rem;
      }
    }
    *:active{outline: 0;}
  }
  #link {
    color: $moove-orange;
  }
</style>
